src/main/mule/cv-munit-basic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e8c68e8e-e43a-4af6-9185-98511924329b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="wsc_munit_config" doc:name="Web Service Consumer Config" doc:id="8723f334-eff5-429d-ad07-c94a8e5acc38" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl " service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="munit-calc-add" doc:id="bc7e9bef-140d-4199-b366-778850fc0261" >
		<http:listener doc:name="Listener" doc:id="232d67c3-b2cf-46e3-965a-382d5f417d25" config-ref="HTTP_Listener_config" path="/munitCalc"/>
		<ee:transform doc:name="Transform Message" doc:id="6d81943d-7933-4fc8-af5c-da7986f84e58" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
ns0#Add: {
ns0#intA: attributes.queryParams.integer1,
ns0#intB: attributes.queryParams.integer2
}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="b3a8fedc-ec39-425f-b25f-fcb5bfed96b1" config-ref="wsc_munit_config"/>
		<ee:transform doc:name="Transform Message" doc:id="2de79a84-3d2e-43ac-9075-8773fc835365" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://tempuri.org/
---
{
    result: payload.body.ns0#AddResponse.ns0#AddResult
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
